body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url("https://img.freepik.com/foto-gratis/enfermera-cuidando-anciana_53876-40924.jpg?w=2000&t=st=1666963084~exp=1666963684~hmac=6e1bb90910d2edc570ae51fac3aada9679520a5ae398139d0327f76b2080b55e");
}