.bienestar {
    color:#235390;
    text-decoration: none;
    font-family: Roboto;
    text-align: center;
    font-size: small;
    align-items: center;
}
.txt-lg {
    font-size: x-large;
}

.nav-color {
    background-color: #F6F6F6;
}

.sos {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #E30613;
    border: none;
    color: white;
    font-family: Roboto;
}