.new-font {
    font-family: Quicksand;
}

h1 {
    font-family: Quicksand;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    padding-top: 3%;
    padding-bottom: 2%;
}

h3 {
    font-family: Quicksand;
    font-weight: bold;
    color: #000000;
}

.white {
    color: #fff;
}

.yellow {
    color: #fff !important;
    background-color: #D19C09 !important
}

.orange {
    color: #fff !important;
    background-color: #FB5607 !important
}

.pink {
    color: #fff !important;
    background-color: #FF006E !important
}

.purple {
    color: #fff !important;
    background-color: #8338EC !important
}

.blue {
    color: #fff !important;
    background-color: #3A86FF !important
}

#boton1{
    font-weight: bold;
    text-decoration:none;
    color:#fff;
    background-color:#B9B7B9;
    border-radius: 10px;
    display: inline-flex;
    font-family: Quicksand;
	font-size: 35px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 10px #0b0c0c;
    padding:1% 7% 1%;
    text-align: center;
}

#boton1:hover { 
    background: #58CC02; 
    color: white; 
}

#boton1:active { 
    background: gray; 
    color: white; 
} 
