.container .titulo{
    text-align: center;
    color: #12631ec5;

}

.container .texto {
    text-align: center;
}

s{
    background-color:red;
    float: left;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    display: flex;
    border-radius: 20px;
    margin-right:10px;
}